DATABASE_URL=your_database_url
REDIS_URL=your_redis_url
MONGODB_URL=your_mongodb_url
MONGO_DB_NAME=name
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_SECURE=false
RABBITMQ_URL=your_rabbit_url
RABBITMQ_EXCHANGE=chat_exchange
RABBITMQ_QUEUE=notifications
WS_CHAT_PREFIX=ws/chat/
RATE_LIMIT_MESSAGES=30
RATE_LIMIT_WINDOW=60